# ignore secret file upload
## /**/ 하위 디렉토리 내부 모든 json파일 형식 업로드 금지
# /**/*.jso

> .gitignore 관련 :
> https://inpa.tistory.com/entry/GIT-%E2%9A%A1%EF%B8%8F-gitignore-%EC%9E%90%EB%8F%99-%EC%83%9D%EC%84%B1
